[GLOBAL]
    useragent = lockefox https://github.com/EVEprosper/ProsperAPI
    default_sleep = 1
    default_retries = 5
    sde_schema = 20160429-TRANQUILITY-2
    debug_enabled = True

[LOGGING]
    log_folder = logs
    log_level = DEBUG
    log_freq  = d
    log_total = 60
    log_email_level = CRITICAL
    #NOTE: !!! DO NOT COMMIT SECRETS !!!
    emailSource     = #SECRET
    emailRecipients = #SECRET
    emailUsername   = #SECRET
    emailFromaddr   = #SECRET
    emailSecret     = #SECRET
    emailServer     = #SECRET
    emailPort       = #SECRET

[CREST]
    log_level_override =
    flask_port = 5001

[ENDPOINTS]
    OHLC = /CREST/OHLC
    logout_path   = /logout
    login_path    = /login
    callback_path = /callback

[FLASK]
    sso_api_port    = 5002
    debug_enabled   = True

[OAUTH]
#DO NOT COMMIT SECRETS!!
    client_id = #SECRET
    secret_key = #SECRET
    base_url      = https://login.eveonline.com/oauth
    token_url     = https://login.eveonline.com/oauth/token
    authorize_url = https://login.eveonline.com/oauth/authorize
