[Unit]
Description=CREST-transforming Flask-restful endpoint
After=multi-user.target

[Service]
TimeoutStartSec=30
Type=simple
WorkingDirectory=/opt/prosper/prosperAPI/publicAPI
ExecStart=/usr/share/python/prosper-api/bin/python3.5 /usr/share/python/prosper-api/lib/python3.5/site-packages/prosper/publicAPI/crest_endpoint.py
StandardOutput=syslog
StadardError=syslog
User=prosper
user=root

[Install]
WantedBy=multi-user.target
