[Unit]
Description=CREST-transforming Flask-restful endpoint
After=multi-user.target

[Service]
TimeoutStartSec=30
Type=simple
WorkingDirectory=/opt/venvs/prosper-api/
ExecStart=/opt/venvs/prosper-api/bin/python3.5 /opt/venvs/prosper-api/scripts/manager.py
StandardOutput=syslog
StadardError=syslog
User=prosper
User=root

[Install]
WantedBy=multi-user.target
